@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');
.page {
  font-family: 'PT Sans Narrow', sans-serif;
}
.flex {
  display: flex;
  justify-content: space-around;
  margin: 0.5vh;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.grid {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1fr;
  grid-auto-rows: minmax(90px, auto);
  font-size: 3vh;
}
.grid-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: #2ea879;

  text-align: center;
  font-family: 'PT Sans', sans-serif;
  border: 0.1px solid black;
  font-size: 2.3vh;
  font-weight: 300;
  color: #ffffff;
}

.grid > span {
  display: flex;
  justify-content: flex-start;
  text-align: justify;
  padding: 8px 4px;
  border-left: 0.1px solid black;
  border-bottom: 0.1px solid black;
}
.grid:nth-child(even) {
  background: #ececec;
}
.search {
  width: 30vw;
}
.ReactTags__selected span.ReactTags__tag {
  border: 0.07vw solid #ddd;
  background: #eee;
  font-size: 1.2vw;
  display: inline-block;
  padding: 0.3vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin: 0.1vw;
  border-radius: 0.1vw;
  font-weight: bold;
}
